@import url("https://fonts.googleapis.com/css?family=Open+Sans:wght@100..900|Montserrat:wght@100..900");

$primary-font: 'Open Sans', sans-serif;
$secondary-font: 'Montserrat', sans-serif;

$primary: #d3d3d3;
$secondary: #708090;
$brand: #000080;
$highlight: #ffd700;
$text: #222222;
$white: #ffffff;

$debug: #00ff00;

html {
    overflow-x: hidden;
}

body {
    font-family: $primary-font;
    font-weight: 400;
    font-size: 15px;
    -webkit-font-smoothing: antialiased;
    background-color: $primary;
    overflow-x: hidden;
}

::selection {
    background: $brand;
    color: $primary;
}

ol, ul {
    list-style-type: none;
    margin: 0;
}

img {
    vertical-align: middle;
    border: 0;
}

a {
    color: $brand;
    font-family: $secondary-font;
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
    transition: .2s ease;

    &:hover {
        color: $highlight;
        font-weight: 800;
        text-shadow: 2px 2px $brand;
    }
}

p {
    color: $text;
    font-family: $secondary-font;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5rem;
}

h1, h2, h3, h4, h5, h6 {
    color: $text;
    font-family: $primary-font;
    font-weight: 700;
}

h1, .h1 {
    font-size: 60px;
}

h2, .h2 {
    font-size: 36px;
}

h3, .h3 {
    font-size: 30px;
}

h4, .h4 {
    font-size: 20px;
}

h5, .h5 {
    font-size: 18px;
}

h6, .h6 {
    font-size: 14px;
}

footer {
    margin-top: 0.5rem;
    background-color: $secondary;
}

.btn {
    font-family: $primary-font;

    font-weight: 600;
    padding: auto;
    border-radius: 10px;
    border-width: 0;
    position: relative;
    z-index: 1;
    transition: .2s ease;
}

.btn-primary {
    background: $brand;
    color: $primary;

    &:hover {
        background: $highlight;
        color: $text;
        text-shadow: none;
    }
}

.btn-secondary {
    background: $secondary;
    color: $text;

    &:hover {
        background: $highlight;
        color: $text;
        text-shadow: none;
    }

    &:active {
        background: $highlight;
        color: $text;
        text-shadow: none;
    }
}

.btn-check {

    &:checked+.btn {
        background-color: $highlight;
        color: $text;
    }

    &:hover+.btn {
        background-color: $highlight;
        color: $text;
    }
}

.map
{
    border-radius: 1rem;
    width: auto;
    height: 600px; 
    position: relative; 
    z-index: 10;
}

.navigation {
    background: $secondary;
    padding: 0;
    margin: 0;

    .navbar {
        padding: 0;
        position: relative;
    }

    .navbar-collapse {
        position: relative;

        .nav-item {
            align-self: center;

            .nav-link {
                padding: 1rem 1rem;
                font-family: $secondary-font;
                font-weight: 600;
                font-size: 16px;
                color: $text;
                transition: .2s ease;
            
                &:hover {
                    color: $highlight;
                }
            }
            
            a img {
                height: 2em;
            }
        }
    }

    .navbar-brand {
        text-align: center;

        img {
            padding: 1rem 0;
        }
    }
}

.page-title {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 8rem 0 8rem 0;

    h1 {
        color: $primary;
        opacity: 0.8;
    }
}

.page-404 {
 
    h1 {
        font-size: 10rem;
        color: $brand;
    }
}

.pdf-display {
    overflow: auto;
    border-radius: 1rem;
    background-color: $white;
}

.carousel-inner {
    border-radius: 1rem;

    .carousel-caption {
        border-radius: 1rem;
        background-color: rgba($color: $text, $alpha: 0.5);

        p, h5 {
            color: $white;
        }
    }
}

.card, .card-img-top {
    border-radius: 1rem;
}

.offer-choose {
    background-color: $white;
    border-radius: 1rem;
}

.offer-contact {
    background-color: $brand;
    border-radius: 1rem;

    ::selection {
        color: $text;
        background-color: $highlight;
    }
    
    h2, p {
        color: $primary;
    }

    .btn-primary {
        background-color: $primary;
        color: $text;

        &:hover {
            background: $highlight;
            color: $text;
            text-shadow: none;
        }
    }
}

.img-fluid {
    border-radius: 1rem;
}

.icon {
    height: 1rem;
}

.modal-content {
    border-radius: 1rem;
}

.card-expandable {
    transition: .2s ease;

    &:hover {
        transform: scale(1.025);
        opacity: 0.5;
    }
}