@import url("https://fonts.googleapis.com/css?family=Open+Sans:wght@100..900|Montserrat:wght@100..900");

$primary-font: 'Open Sans', sans-serif;
$secondary-font: 'Montserrat', sans-serif;

$primary: #d3d3d3;
$secondary: #708090;
$brand: #000080;
$highlight: #ffd700;
$text: #222222;

$debug: #00ff00;

body {
    font-family: $primary-font;
    font-weight: 400;
    font-size: 15px;
    -webkit-font-smoothing: antialiased;
    background-color: $primary;
    overflow-x: hidden;
}

::selection {
    background: $highlight;
    color: $text;
}

ol, ul {
    list-style-type: none;
    margin: 0;
}

img {
    vertical-align: middle;
    border: 0;
}

a {
    color: $brand;
    font-family: $secondary-font;
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
    transition: .2s ease;

    &:hover {
        color: $highlight;
    }
}

p, .paragraph {
    color: $text;
    font-family: $secondary-font;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5rem;
}

h1, h2, h3, h4, h5, h6 {
    color: $text;
    font-family: $primary-font;
    font-weight: 700;
}

h1, .h1 {
    font-size: 60px;
}

h2, .h2 {
    font-size: 36px;
}

h3, .h3 {
    font-size: 30px;
}

h4, .h4 {
    font-size: 20px;
}

h5, .h5 {
    font-size: 18px;
}

h6, .h6 {
    font-size: 14px;
}

footer {
    margin-top: 0.5rem;
    background-color: $secondary;
    
    p {
        color: $text;
    }
}

.btn {
    font-family: $primary-font;

    font-weight: 600;
    padding: auto;
    border-radius: 10px;
    border-width: 0;
    position: relative;
    z-index: 1;
    transition: .2s ease;
}

.btn-primary {
    background: $brand;
    color: $primary;

    &:hover {
        background: $highlight;
        color: $text;
    }
}

.preloader {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background-color: $primary;
    display: block;
}

.wave {
    width: 10rem;
    height: 5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    div {
        display: inline-block;
        width: 0.75rem;
        height: 0.75rem;
        border-radius: 50%;
        background: $brand;
        animation: wave 2s cubic-bezier(0.626, 0, 0, 1) infinite;
    }

    div:nth-child(1) { animation-delay: -0.35s; }
    div:nth-child(2) { animation-delay: -0.26s; }
    div:nth-child(3) { animation-delay: -0.17s; }
    div:nth-child(4) { animation-delay: -0.09s; }

    @keyframes wave {
        0% { transform: scale(1.5) translateY(0); }
        50% { transform: scale(1.0) translateY(3rem); }
        100% { transform: translateY(0); }
    }
}

.map
{
    border-radius: 1rem;
    width: auto;
    height: 600px; 
    position: relative; 
    z-index: 10;
}

.bg-primary {
    background-color: $primary;
}

.bg-secondary {
    background-color: $secondary;
}

.navigation {
    background: $secondary;
    padding: 0;
    margin: 0;

    .navbar {
        padding: 0;
        position: relative;
    }

    .navbar-collapse {
        position: relative;

        .nav-item {
            align-self: center;

            .nav-link {
                padding: 1rem 1rem;
                font-family: $secondary-font;
                font-weight: 600;
                font-size: 16px;
                color: $text;
                transition: .2s ease;
            
                &:hover {
                    color: $highlight;
                }
            }
            
            a img {
                height: 2em;
            }
        }
    }

    .navbar-brand {
        text-align: center;

        img {
            padding: 1rem 0;
        }
    }
}

.page-title {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5rem 0 5rem 0;
    margin-top: 0.5rem;
    border-radius: 1rem;

    h2 {
        color: $primary;
    }
}

.page-404 {
    margin-top: 12.5rem;
    margin-bottom: 12.5rem;

    h1 {
        font-size: 10rem;
        color: $brand;
    }
}