@import url("https://fonts.googleapis.com/css?family=Open+Sans:wght@100..900|Montserrat:wght@100..900");

$primary-font: 'Open Sans', sans-serif;
$secondary-font: 'Montserrat', sans-serif;

$black: #000000;
$white: #ffffff;

$primary: #eef5ff;
$secondary: #80c4e4;
$info: #000080;
$hover: #ff7f3f;

$debug: #00ff00;

$contrast-text: #dddddd;
$primary-text: #222222;
$secondary-text: #666666;

body {
    font-family: $primary-font;
    font-weight: 400;
    font-size: 15px;
    -webkit-font-smoothing: antialiased;
    background-color: $primary;
    overflow-x: hidden;
}

::selection {
    background: $hover;
    color: $contrast-text;
}

ol, ul {
    list-style-type: none;
    margin: 0;
}

img {
    vertical-align: middle;
    border: 0;
}

a {
    font-family: $secondary-font;
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
    transition: .2s ease;

    :hover {
        color: $hover;
    }
}

p, .paragraph {
    color: $secondary-text;
    font-family: $secondary-font;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $primary-text;
    color: $primary-text;
    font-weight: 700;
}

h1, .h1 {
    font-size: 60px;
}

h2, .h2 {
    font-size: 36px;
}

h3, .h3 {
    font-size: 30px;
}

h4, .h4 {
    font-size: 20px;
}

h5, .h5 {
    font-size: 18px;
}

h6, .h6 {
    font-size: 14px;
}

footer {
    p {
        color: $primary-text;
    }
    background-color: $secondary;
}

.btn {
    font-size: 14px;
    padding: auto;
    border-radius: 25%;
    font-weight: 600;
    position: relative;
    z-index: 1;
    transition: .2s ease;

    :focus {
        outline: 0;
        box-shadow: none;
    }

    :active {
        box-shadow: none;
    }
}

.btn-primary {
    background: $info;

    :active {
        background: $info;
    }

    :hover {
        background: $hover;
        color: $contrast-text;
    }
}

.outline-0 {
    outline: 0;
}

.d-unset {
    display: unset;
}

.preloader {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background-color: $primary;
    display: block;
}

.wave {
    width: 10rem;
    height: 5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    div {
        display: inline-block;
        width: 0.75rem;
        height: 0.75rem;
        border-radius: 50%;
        background: $info;
        animation: wave 2s cubic-bezier(0.626, 0, 0, 1) infinite;
        margin-right: 0.75rem;
    }

    div:nth-child(1) { animation-delay: -0.35s; }
    div:nth-child(2) { animation-delay: -0.26s; }
    div:nth-child(3) { animation-delay: -0.17s; }
    div:nth-child(4) { animation-delay: -0.09s; }

    @keyframes wave {
        0% { transform: scale(1.5) translateY(0); }
        50% { transform: scale(1.0) translateY(3rem); }
        100% { transform: translateY(0); }
    }
}

.map
{
    width: auto;
    height: 600px; 
    position: relative; 
    z-index: 10;
}

@mixin overlay($background)
{
    position: relative;

    ::before {
        position: absolute;
        content: '';
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background: $background;
        opacity: 0.2;
    }
}

.overlay {
    @include overlay($black)
}

.overlay-primary {
    @include overlay($info)
}

.section-title-border {
    position: relative;

    ::before {
        position: absolute;
        content: '';
        height: 2px;
        width: 6rem;
        bottom: -0.6rem;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        background: $info;
    }

    ::after {
        position: absolute;
        content: '';
        height: 1rem;
        width: 1rem;
        border-radius: 50%;
        background: $primary;
        border: 2px solid $info;
        box-shadow: 0 0 0 5px $primary;
        bottom: -1rem;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
}

.box-shadow {
    box-shadow: 0, 0.6rem, 2rem, 0, rgba(0, 0, 0, 0.1);
}

.bg-primary {
    background-color: $primary;
}

.bg-secondary {
    background-color: $secondary;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mb-50 {
    margin-bottom: 50px;
}

.mb-60 {
    margin-bottom: 60px;
}

.mb-70 {
    margin-bottom: 70px;
}

.mb-80 {
    margin-bottom: 80px;
}

.mb-90 {
    margin-bottom: 90px;
}

.mb-100 {
    margin-bottom: 100px;
}

.navigation {

    .navbar {
        padding: 0;
        background: $secondary;
        position: relative;
    }

    .navbar-collapse {
        position: relative;

        .nav-item {
            align-self: center;
            padding: 1rem;

            .nav-link {
                padding: 1rem 1rem;
                font-family: $secondary-font;
                font-weight: 600;
                font-size: 16;
                color: $primary-text;
                transition: .2s ease;
            }

            :hover {
                color: $hover;
            }
            
            a img {
                height: 1.5em;
            }
        }
    }

    .navbar-brand {
        background: $secondary;
        text-align: center;

        img {
            padding: 1rem 0;
        }
    }
}

.page-title {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5rem 0 5rem 0;

    h2 {
        color: $contrast-text;
    }
  }
  