<div class="row justify-content-center mb-3">
    <div class="btn-group-vertical py-3" role="group" aria-label="Vertical radio toggle button group">
        {{ range $index, $certificates := (index .Site.Data.certificates .Site.Language.Lang).certificates }}
        <input type="radio" class="btn-check" name="vbtn-radio" id="vbtn-radio{{ $index }}" autocomplete="off" pdf="{{ $.Site.BaseURL }}{{ .link }}" checked>
        <label class="btn btn-secondary" for="vbtn-radio{{ $index }}">{{ .description }}</label>
        {{ end }}
    </div>
    <div class="pdf-display shadow">
        <div class="d-flex justify-content-around">
            <button class="btn btn-primary my-3" id="prev">{{ i18n "previous" }}</button>
            <span class="m-3 fw-semibold">{{ i18n "page" }}: <span id="page_num"></span> / <span id="page_count"></span></span>
            <button class="btn btn-primary my-3" id="next">{{ i18n "next" }}</button>
        </div>
        
        <canvas id="canvas"></canvas>
    </div>
</div>

{{ $pdf := resources.Get "js/pdf.js" }}
<script type="module" src="{{ $pdf.Permalink }}"></script>