<div class="row justify-content-center m-3">
    <div class="btn-group-vertical py-3" role="group" aria-label="Vertical radio toggle button group">
        <input type="radio" class="btn-check" name="vbtn-radio" id="vbtn-radio1" autocomplete="off" pdf="{{ .Site.BaseURL }}/{{ i18n "link-1090-2" }}" checked>
        <label class="btn btn-secondary" for="vbtn-radio1">{{ i18n "cert-1090-2" }}</label>
        <input type="radio" class="btn-check" name="vbtn-radio" id="vbtn-radio2" autocomplete="off" pdf="{{ .Site.BaseURL }}/{{ i18n "link-3834" }}">
        <label class="btn btn-secondary" for="vbtn-radio2">{{ i18n "cert-3834" }}</label>
    </div>

    <div class="pdf-display shadow">
        <div class="d-flex justify-content-around">
            <button class="btn btn-primary my-3" id="prev">{{ i18n "previous" }}</button>
            <span class="m-3 fw-semibold">{{ i18n "page" }}: <span id="page_num"></span> / <span id="page_count"></span></span>
            <button class="btn btn-primary my-3" id="next">{{ i18n "next" }}</button>
        </div>
        
        <canvas id="canvas"></canvas>
    </div>
</div>

{{ $pdf := resources.Get "js/pdf.js" }}
<script type="module" src="{{ $pdf.Permalink }}"></script>