<ul>
    <h2 class="my-4">{{ i18n "contact-us" }}</h2>

    <div>
        <h4 class="mt-2">{{ i18n "address" }}</h4>
        <li class="mb-4">
            <p>{{ .Site.Data.contact.address.n2 }}<br>{{ .Site.Data.contact.address.a1 }}<br>{{
                .Site.Data.contact.address.a2 }}</p>
        </li>
    </div>

    <div>
        <h4>{{ i18n "production-site" }}</h4>
        <li class="mb-4">
            <p>{{ .Site.Data.contact.production.a3 }}<br>{{ .Site.Data.contact.production.a4 }}</p>
        </li>
    </div>

    <div>
        <h4>{{ i18n "company-misc" }}</h4>
        <li class="mb-4">
            <p>NIP: {{ .Site.Data.contact.misc.m1 }}<br>REGON: {{ .Site.Data.contact.misc.m2 }}</p>
        </li>
    </div>

    <div>
        <h4>{{ i18n "working-hours" }}</h4>
        <li class="mb-4">
            <p>{{ .Site.Data.contact.hours.open }} - {{ .Site.Data.contact.hours.close }}</p>
        </li>
    </div>

    <div>
        <h4>{{ i18n "mail-phone" }}</h4>
        {{ range .Site.Data.contact.list }}
        <li class="mb-2">
            <a href="mailto:{{ .i1 }}">
                <img class="icon me-2 align-middle" src="{{ .Site.BaseURL }}/mail.svg"></img>
                {{ .i1 }}
            </a>
            <a href="callto:{{ .i2 }}">
                <img class="icon ms-4 me-2 align-middle" src="{{ .Site.BaseURL }}/phone.svg"></img>
                {{ .i2 }}
            </a>
        </li>
        {{ end }}
    </div>
</ul>