<footer class="bg-secondary">
        <div class="container">
            <div class="row">
                <p class="text-white text-center text-md-left">
                    {{ i18n "rights" }} &nbsp; &copy; 2024 <b>{{ index .Site.Data.contact.address.name }}</b>
                </p>
            </div>
        </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
{{ $script := resources.Get "js/script.js" | resources.Minify }}
<script src="{{ $script.Permalink }}"></script>