<header>
    <div class="row navigation">
        <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand col-md-4" href="{{ .Site.BaseURL | relLangURL }}">
                <img class="me-2 align-middle" src="{{ .Site.BaseURL }}/logo.svg"></img>
            </a>

            <div class="navbar-collapse col-md-8" id="navigation">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="{{ relLangURL "offer" }}" class="nav-link">{{ i18n "offer" }}</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ relLangURL "certificates" }}" class="nav-link">{{ i18n "certificates" }}</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ relLangURL "projects" }}" class="nav-link">{{ i18n "projects" }}</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ relLangURL "contact" }}" class="nav-link">{{ i18n "contact" }}</a>
                    </li>
                    <li class="nav-item">
                        {{ range $.Translations }}
                            <a href="{{ .Permalink }}" class="nav-link">
                                <img class="me-2 align-middle" src="{{ .Site.BaseURL }}/{{ i18n "flag-link" }}"></img>
                                    {{ .Language.LanguageName }}
                            </a>
                        {{ end }}
                    </li>
                    <li class="nav-item">
                        <a href="{{ relLangURL "eu" }}" class="nav-link">
                            <img class="me-2 align-middle" src="{{ .Site.BaseURL }}/eu.svg"></img>
                            {{ i18n "eu" }}
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>