{{ $offer := index .context.Site.Data.offer .context.Site.Language.Lang }}

<div class="row my-5">
    <div class="col-md-4 mb-4">
        <div class="card h-100 shadow-sm">
            {{ $p := resources.Get (printf "webp/p%d.webp" .variant) }}
            {{ $p := $p.Crop "3000x1500" }}
            {{ $p := $p.Resize "600x" }}
            <img src="{{ $p.RelPermalink }}" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">{{ $offer.p.title }}</h5>
                <p class="card-text">{{ $offer.p.description }}</p>
                <a href="" class="btn btn-primary disabled">{{ i18n "learn-more" }}</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-4">
        <div class="card h-100 shadow-sm">
            {{ $k := resources.Get (printf "webp/k%d.webp" .variant) }}
            {{ $k := $k.Crop "3000x1500" }}
            {{ $k := $k.Resize "600x" }}
            <img src="{{ $k.RelPermalink }}" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">{{ $offer.k.title }}</h5>
                <p class="card-text">{{ $offer.k.description }}</p>
                <a href="" class="btn btn-primary disabled">{{ i18n "learn-more" }}</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-4">
        <div class="card h-100 shadow-sm">
            {{ $o := resources.Get (printf "webp/o%d.webp" .variant) }}
            {{ $o := $o.Crop "3000x1500" }}
            {{ $o := $o.Resize "600x" }}
            <img src="{{ $o.RelPermalink }}" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">{{ $offer.o.title }}</h5>
                <p class="card-text">{{ $offer.o.description }}</p>
                <a href="" class="btn btn-primary disabled">{{ i18n "learn-more" }}</a>
            </div>
        </div>
    </div>
</div>