<div class="col-md-4">
    <div class="card h-100">
    <img src="steel-construction-thumbnail.jpg" class="card-img-top" alt="Steel Constructions">
    <div class="card-body">
        <h5 class="card-title">Steel Constructions</h5>
        <p class="card-text">Tailored steel structures for industrial and commercial use.</p>
        <a href="/steel-constructions" class="btn btn-primary">Learn More</a>
    </div>
    </div>
</div>
<div class="col-md-4">
    <div class="card h-100">
    <img src="ropeways-thumbnail.jpg" class="card-img-top" alt="Ropeways">
    <div class="card-body">
        <h5 class="card-title">Ropeways</h5>
        <p class="card-text">Safe and efficient transport solutions for various terrains.</p>
        <a href="/ropeways" class="btn btn-primary">Learn More</a>
    </div>
    </div>
</div>
<div class="col-md-4">
    <div class="card h-100">
    <img src="hall-insulation-thumbnail.jpg" class="card-img-top" alt="Production Hall Insulation">
    <div class="card-body">
        <h5 class="card-title">Production Hall Insulation</h5>
        <p class="card-text">Professional insulation and roofing for optimal performance.</p>
        <a href="/production-hall-insulation" class="btn btn-primary">Learn More</a>
    </div>
    </div>
</div>
