<div class="row">
  <div class="btn-group my-3" role="group" aria-label="Horizontal radio toggle button group">    
    <input type="radio" class="btn-check" name="vbtn-radio" id="projects-w" autocomplete="off" checked>
    <label class="btn btn-secondary" for="projects-w">{{ i18n "projects-w" }}</label>
    <input type="radio" class="btn-check" name="vbtn-radio" id="projects-p" autocomplete="off">
    <label class="btn btn-secondary" for="projects-p">{{ i18n "projects-p" }}</label>
    <input type="radio" class="btn-check" name="vbtn-radio" id="projects-k" autocomplete="off">
    <label class="btn btn-secondary" for="projects-k">{{ i18n "projects-k" }}</label>
    <input type="radio" class="btn-check" name="vbtn-radio" id="projects-o" autocomplete="off">
    <label class="btn btn-secondary" for="projects-o">{{ i18n "projects-o" }}</label>
  </div>
</div>