{{ $all := index .Site.Data.projects .Site.Language.Lang }}

<div class="row my-4">
  {{ range $first := $all }}
  {{ range $year, $projects := $first }}
  <div class="col-12">
    <h2>{{ $year }}</h2>
    <div class="row">
      {{ range $index, $details := $projects }}
      <div class="col-md-4 mb-3">
        <div class="card shadow-sm h-100">
          {{ $i := resources.Get (printf "/webp/%s/%d.1.webp" $year $index) }}
          {{ $i := $i.Crop "3000x3000" }}
          <img src="{{ $i.RelPermalink }}" class="card-img-top">
          <div class="card-body">
            <h5 class="card-title">{{ .title }}</h5>
            <p class="card-text">{{ .description }}</p>
            <a href="{{ printf "/projects/%s/%d" $year $index }}" class="btn btn-primary ">{{ i18n "view-details" }}</a>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
  {{ end }}
  {{ end }}
</div>